<!DOCTYPE html>
<html th:fragment="layout (template, menu)">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Mastering Java - Spring test application</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <!--script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script-->
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>

    <th:block th:include="${template}" />

</body>
</html>